@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: black;
  color: white; */
  /* font-family: 'Dejavu Sans'; */
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: #e8e3e31f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8e3e32f;
}